body {
  background-image: url(palm.jpeg) ;
}

h1 { background-color: palegreen;
  color: white;
}
blockquote { 
  background-color: white;
  color: green;
}
img {
  border-radius: 50% ;
  width: 200px ;
  height : 200px ;
  display : block ;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  background-color: palegreen;
  color: black ;
  font-family: times new roman;
}
ol { 
  background-color: white;
  border-style: solid;
  border-color: green; 
  font-family: times new roman;
  font-size: 15px;
  color:brown; 
}
p {
  background-color: white;
  border-style: solid;
  border-color: green;
  font-family: times new roman;
  font-size: 15px;
  color:brown;
  font-family: times new roman;
  font-size: 15px;
  color:brown;
} 
ul {
  background-color: white;
  border-style: solid;
  border-color: green;
  font-family: times new roman;
  font-size: 15px;
  color:brown;
}