body {
  background: url("img_tree.png") no-repeat top right;
}

h1 { background-color: palegreen;
  color: white;
}
blockquote { color: green;
}
h2 {
  background-color: transparent;
  color:green ;
}
p {
  font-family: times new roman;
  font-size: 15px;
  color:brown;
}
ul {
  font-family: times new roman;
  font-size: 15px;
  color:brown;
}